*{
    text-align: center;
    font-size: large;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

#box_model{
    width: 1000px;
}

section{
    margin-bottom: 70px;
}

body{
    background-color: #81919f;
}

.table h2{
    margin: 40px auto;
}

table{
    width: 80%;
}

td{
    text-align: left;
}

.t_tag{
    width: 100px;
}

.t_nombre{
    width: 150px;
}

th{
    height: 26px;
    background-color: burlywood;
}

table, th, td{
    border: 1px solid;
}

.html{
    margin-top: 40px;
    margin: 0 auto;
}

tbody{
    background-color: darksalmon;
}