*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: hsl(356, 72%, 66%);
    display: flex;
    align-content: center;
    justify-content: center;
}

section{
    margin: 20px auto;
    border: 2px solid;
    min-width: 750px;
    min-height: 900px;
    background-color: #D7AF70;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

h1{
    margin: 50px;
    font-size: 70px;
    text-align: center;
}

nav{
    text-align: center;
    margin: 0 auto;
}

.index_nav a li{
    box-shadow: 3px 3px;
}

.index_nav a li:active{
    box-shadow: 3px 3px inset;
}

ul{
    margin: 0 auto;
    border: 2px solid;
    padding: 20px 60px;
    width: max-content;
    font-size: 50px;
    background-color: hsl(349, 78%, 62%);
}

li{
    padding: 5px;
    border: 2px solid;
    background-color: #D7AF70;
    margin: 30px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #E76B74;
}

a:focus{
    color: coral;
}

a:active{
    color: #585B56;
}