*{
    text-align: center;
    font-size: large;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.home{
    position: absolute;
    left: 6px;
    top: 6px;
    background-color: aliceblue;
}

.home:hover{
    cursor: pointer;
}

.home:active{
    background-color: rgb(70, 70, 70);
}

#box_model{
    max-width: 1400px;
    flex-shrink: 1;
    min-width: 100px;
}

section{
    margin-bottom: 70px;
}

body{
    background-color: #81919f;
}

.table h2{
    margin: 40px auto;
}

table{
    width: 80%;
}

td{
    text-align: left;
}

.t_tag{
    width: 100px;
}

.t_nombre{
    width: 150px;
}

th{
    height: 26px;
    background-color: burlywood;
}

table, th, td{
    border: 1px solid;
}

.html{
    margin-top: 40px;
    margin: 0 auto;
}

tbody{
    background-color: darksalmon;
}

.symbol{
    text-align: center;
}

figure{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.break{
    flex-basis: 100%;
}